/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 13px;
	background-color: #3d3b3b;
}

.container {
	width: 600px;
	margin: 50px auto 20px;
}

.title {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 5px;
	text-align: center;
	color: #fff;
}

.chat {
	border: 1px solid lightgrey;
	height: 400px;
	overflow-y: auto;
	color: white;
}

.chat div {
	margin: 10px 12px 15px;
	line-height: 20px;
}

.chat .party {
	font-weight: bold;
}

.chat .text {
	
}
.chat-item{
	padding: 5px;
}

.busy {
	position: absolute;
	padding: 3px 0;
	color: #666;
	display: none;
	font-size: 15px;
}

.input {
	margin-top: 20px;
}

.input input {
	vertical-align: top;
	float: left;
	border: 1px solid #ccc;
	padding: 5px;
	width: 480px;
	margin: 0;
	border-radius: 5px;
}

.input a {
	vertical-align: top;
	float: right;
	font-weight: bold;
	background-color: #efefef;
	padding: 7px 35px;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	background: red;
	cursor: pointer;
}

